@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    scrollbar-color: rgb(0, 0, 0);
}
.history {
    height: 450px;
    border: 3px solid rgba(0, 30, 199, 0.5);
    padding: 10px;
    margin: 20px 0 ;
    width: 40%;
    border-radius: 5px;
    background-color: rgba(0, 153, 255, 0.452);
    overflow: scroll;
    scrollbar-width:none;
}

.history h1 {
    text-align: center;
}

.history p{
    font-size: 18px;
    margin: 10px;
    justify-content: center;
    text-align: justify;
    text-indent: 50px;
}

.pilo {
    border: 3px solid rgb(0, 30, 199);
    background-color: rgba(0, 153, 255, 0.452);
    margin: 20px 0;
    border-radius: 5px;
    padding: 10px;
    width: 40%;
}

.pilo h1 {
    text-align: center;
}

.pilo p{
    font-size: 18px;
    margin: 10px;
    justify-content: center;
    text-align: justify;
    text-indent: 50px;
}

.container {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    color: #fff;
}

.school {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    background: #acacac;
}

.school h1 {
    text-align: center;
}

.mission {
    border: 3px solid rgb(0, 30, 199);
    backdrop-filter: blur(50px);
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    background-color: rgba(0, 153, 255, 0.452);
    margin: 20px 0 20px 0;
}

.mission p{
    margin: 10px;
    justify-content: center;
    text-align: justify;
    text-indent: 50px;
}
.vision {
    border: 3px solid rgb(0, 30, 199);
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    background-color: rgba(0, 153, 255, 0.452);
    margin: 20px 0 20px 0;
}

.vision p{
    margin: 10px;
    justify-content: center;
    text-align: justify;
    text-indent: 50px;
}
.hym {
    border: 3px solid rgb(0, 30, 199);
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    background-color: rgba(0, 153, 255, 0.651);
    margin: 20px 0 20px 0;
}

.hym p{
    margin: 10px;
    justify-content: center;
}
