* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(0, 153, 255);
}

header .imga {
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
    padding: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

nav ul.show {
    display: block;
}

nav a:hover {
    background-color: #800;
    color: #f8f8f8;
    padding: 50px 10px;
}

nav .active:active {
    background-color: #800;
    color: #f8f8f8;
    padding: 50px 10px;
}

#navLinks {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#navLinks li {
    position: relative;
    margin: 0 10px;
}

#navLinks li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: block;
    color: #fff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(104, 103, 103);
    padding: 10px 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    padding: 10px 20px;
    color: #000;
    background-color: transparent;
}

.dropdown-menu li a:hover {
    background-color: rgb(190, 12, 12);
    color: #ffffff;
}

.dropdown > a:hover {
    color: #007bff;
}

@media (max-width: 480px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(0, 153, 255);
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px 0;
        transition: transform 0.3s ease;
    }

    nav ul.show {
        display: block;
        transform: translateY(0);
    }

    .hamburger {
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    .hamburger.open {
        display: none;
    }

    .hamburger.open + ul {
        display: block;
    }

    .hamburger.open::before {
        content: '✖';
        font-size: 30px;
        color: white;
    }
}
